@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "SF Pro Text", sans-serif;
}

@layer components {
  .tweet-text {
    @apply text-black;
    font-family: "SF Pro Text", sans-serif;
    font-size: 16px;
    line-height: 20.5px;
    letter-spacing: -0.3px;
    max-width: 311px;
  }
}
